.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  border-radius: 10px;
}

.login-inputs-container input {
  width: 100%;
  height: 40px;
  border: 2px solid #EDEDED;
  border-radius: 3px;
}

.login-submit-button {
  margin-top: 15px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 0;
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  font-weight: 600;
  font-size: 16px;
}
